# SPDX-FileCopyrightText: 2024 TheKodeToad
#
# SPDX-License-Identifier: CC0-1.0

name: Maven Build and Make Release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Create Release
      id: create_release
      uses: softprops/action-gh-release@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag_name: ${{ github.ref }}
        name: JavaCheck ${{ env.VERSION }}
        draft: true
        prerelease: false
        files: |
          target/*.jar
